{% extends 'puzzles/base.html' %}
{% block content %}

<div id='main-container'>
  <div id='intro'>
    <img src="/static/puzzles/images/logo.png"><br>
    A loan of knowledge.
  </div>
</div>
{% if latest_question_list %}
    <ul style='display:none;'>
    {% for question in latest_question_list %}
        <li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <!--p>Add some items</p-->
{% endif %}
<div id="bg">
  <img src="/static/puzzles/images/cover_photo.jpg">
</div>

{% endblock %}

