{% extends 'puzzles/base.html' %}
{% block content %}
<h1>Login</h1>
<form action="/postlogin/" method="post">
    <table>
    <tr>
      <td><label for="username">Username: </label></td>
      <td><input id="username" type="text" name="username" value=""></td>
    </tr>
    <tr>
      <td><label for="username">Password: </label></td>
      <td><input id="password" type="password" name="password" value=""></td>
    </tr>
    </table>
    <br>
    <input type="submit" value="OK">
</form>
{% endblock %}
