{% extends 'puzzles/base.html' %}
{% block content %}
<h1>Make a payment</h1>
<form action="/postpay" method="post">
    {% csrf_token %}
    <table>
    <tr>
      <td><label for="amount">Amount: LKR &nbsp;  </label></td>
      <td><input id="amount" type="number" name="amount" value=""></td>
    </tr>
    </table>
    <br>
    <input class='btn btn-small' type="submit" value="Submit payment">
</form>
    <br>
    <img width='60em;' src='/static/puzzles/images/simplify.png'>
    <img width='60em;' src='/static/puzzles/images/mastercard.png'>

{% endblock %}
